@{
    Layout = "~/views/Shared/NewLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('../images/print_background.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a style="color:black" href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-0 bread" style="color:black">About Us</h1>
                </div>
            </div> 
        </div>
    </section>

    <section>
        <div class="container" style="background-color:#fff">
            <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>
                    <h2>COMPANY PROFILE</h2>
                </div>
            </div>
            <div class="row">
                <h5 style="text-align:justify">
                    We (Aspire-Health) are a healthcare consulting and IT services provider that specializes in solutions for the Medicare / Medicaid marketplace. We offer subject matter expertise and consulting services to health plans in the Medicare arena and provide affordable business and technology solutions.Our company has a highly experienced management team, and employees offer you solutions that are tailored to your business needs.
                </h5>
                <div class="row">&nbsp;</div>
                <h5 style="text-align:justify">
                    We provide solutions to help companies enhance their current healthcare enterprise operations and ensure exceptional returns on investment. Our service offerings are varied, covering many aspects of the healthcare industry with a focus on Medicare Advantage. Our client engagement includes small to medium-sized companies. Each of our client engagements eventually moves to a level where we deliver scalable solutions that not only simplify business processes but improve operational efficiency, moving a step beyond straight cost savings. We are focused on learning and continuously improving our capabilities to drive changes in quality and productivity for our customers.
                </h5>
                <div class="row">&nbsp;</div>
                <h5 style="text-align:justify">
                    Our primary focus is always quality and process because we know this is where real gains can be achieved. Technical solutions alone do not bring long-term improvement. Quality is a top priority for us, and we take pride in our solutions. Our solutions are built to fit in with your processes or processes re-engineered to suit a better way of working. Either way, the process, and the solution must work together. We achieve quality delivery through a systematic recruitment process, employee retention strategies, and training of top professionals and consultant software developers.
                </h5>
            </div>

        </div>
    </section>
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    
</body>
</html>