@{
    Layout = "~/views/Shared/NewLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
   
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="hero-wrap">
        <div class="home-slider owl-carousel">

            <div class="slider-item" style="background-image:url('images/print05.jpg');">
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-8 ftco-animate">
                            <div class="text w-100 text-center">

                                <h1 class="mb-4" style="background-color:rgba(0,0,0,0.1)">PROJECT HEAD</h1>
                                <h2 class="mb-4" style="background-color:rgba(0,0,0,0.1)">Revenue Recovery and Optimization</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-item" style="background-image:url(images/print04.jpg);">

                <div class="container">

                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-12 ftco-animate">
                            <div class="text w-100 text-center">
                                <h1 class="mb-4" style="background-color:transparent"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="slider-item" style="background-image:url(images/print01.jpg);">
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-12 ftco-animate">
                            <div class="text w-100 text-center">

                                <h1 class="mb-4" style="background-color:transparent"></h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">

                    <h2> OUR PRODUCTS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <a href="SalesBrokerPortel.html"> <img src="images/Broker_Portal_C.jpg"></a>
                            <a href="SalesBrokerPortel.html"> <h3>Sales Broker Portal</h3></a>
                            <ul class="pricing-text">
                                <li><span class="fa fa-check"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/ProviderCapitationProductimage_C.jpg">
                            <h3>Provider Capitation</h3>
                            <ul class="pricing-text">
                                <li><span class="fa fa-check"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/HERO_C.jpg">
                            <h3>HERO</h3>
                            <ul class="pricing-text">
                                <li><span class="fa fa-check"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">&nbsp;</div>


            <div class="row">
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/Chart_Management_C.jpg">
                            <h3>Chart Management</h3>
                            <ul class="pricing-text">
                                <li><span class="fa fa-check"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/revnue_management_C.jpg">
                            <h3>Revenue Management</h3>
                            <ul class="pricing-text">
                                <li><span class="fa fa-check"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/Data_Explorer_C.jpg">
                            <h3>Data Explorer</h3>
                            <ul class="pricing-text">
                                <li><span class="fa fa-check"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">&nbsp;</div>

			<div class="row">
			    <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/METS_C.jpg">
                            <h3>Membership Enrollment Tracking System</h3>
                            <ul class="pricing-text">
                                <li><span class="fa fa-check"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>

            
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/Supplemental_Benefit_Management_C.jpg">
                            <h3>Supplemental Benefit Management</h3>
                            <ul class="pricing-text">
                                <li><span class="fa fa-check"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="ftco-section">
        <div class="container">

            <div class="row justify-content-center mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2>SERVICES</h2>
                </div>
            </div>


            <div class="row justify-content-center mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h5>Our Services for Medicare/Medicaid Health Insurance Plans</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block">

                        <div class="media-body">
                            <h2 class="heading" style="color:red; font-weight:Bold">Consulting</h2>
                            <p style="color:black;font-size: 17px;">Our consultants have in-depth knowledge of Medicare/Medicaid and can provide expert advice and assistance to business users and IT departments on how to deal with day-to-day business challenges.</p>
                        </div>
                    </div>
                </div>
				
				<div class="col-md-6 col-lg-6 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block">

                        <div class="media-body">
                            <h2 class="heading" style="color:orange; font-weight:Bold">Application Services</h2>
                            <p style="color:black;font-size: 17px;">State-of-art System that assist Health Plans with revenue recovery for Medicare Secondary Payer (MSP) and Coordination of Benefits (COB)</p>
                        </div>
                    </div>
                </div>
		
               
            </div>



            <div class="row">
                
                <div class="col-md-6 col-lg-6 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block">

                        <div class="media-body">
                            <h2 class="heading" style="color:brown; font-weight:Bold">IT Services</h2>
                            <p style="color:black;font-size: 17px;">Membership and Financial Reconciliation for Managed Medicare</p>
                        </div>
                    </div>
                </div>

				<div class="col-md-6 col-lg-6 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block">

                        <div class="media-body">
                            <h2 class="heading" style="color:blue; font-weight:Bold">Tools</h2>
                            <p style="color:black;font-size: 17px;">Analytical Tools for Risk Adjustment and Revenue Recovery</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
      
    
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

</body>
</html>

