@{
    Layout = "~/views/Shared/NewLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('../images/print_background.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a style="color:black" href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Case Study <i class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-0 bread" style="color:black">Case Study</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2> OUR PRODUCTS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <a href="SalesBrokerPortel.html"> <img src="../images/print01_c.jpg"></a>
                            <a href="SalesBrokerPortel.html"> <h3>Sales Broker Portal</h3></a>
                            <ul class="pricing-text">
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="../images/print02_c.jpg">
                            <h3>Provider Capitation</h3>
                            <ul class="pricing-text">
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/HERO_C.jpg">
                            <h3>HERO</h3>
                            <ul class="pricing-text">
                            </ul>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">&nbsp;</div>


            <div class="row">
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/Chart_Management_C.jpg">
                            <h3>Chart Management</h3>
                            <ul class="pricing-text">
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/revnue_management_C.jpg">
                            <h3>Revenue Management</h3>
                            <ul class="pricing-text">
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/Data_Explorer_C.jpg">
                            <h3>Data Explorer</h3>
                            <ul class="pricing-text">
                            </ul>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">&nbsp;</div>

            <div class="row">
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/METS_C.jpg">
                            <h3>Membership Enrollment Tracking System</h3>
                            <ul class="pricing-text">
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="block-7">
                        <div class="row">
                            <img src="images/Supplemental_Benefit_Management_C.jpg">
                            <h3>Supplemental Benefit Management</h3>
                            <ul class="pricing-text">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

</body>
</html>